.images-content {
    max-width:600px;
    height: 500px;
}

#description{
    align-content: center;
    vertical-align: top;
    
}

#contact-button{
    float: right;
    vertical-align: bottom;
}

#button{
    vertical-align: bottom;
}

.carousel-indicators{
    /* position: relative; */
}

#slide-button{
    
    float: top;
    vertical-align: top;
    position: relative;
}

.text-content{
    text-align: left;
    margin-left: 20px;
}
